</html>
<head>
<meta charset='UTF-8'>
</head>
<body>
<div style="float: left;">
	<img src='/image/%d/%s/%d' width='500px'>
</div>
<div style="float: left; margin=50px">
<form method='post'>
<p> Tempo de captura: %.2f</p>
<p> Prateleira : <input type='number' min='1' max='4' value='%s' name='shelf'></p>
<p> Dimension<select name='dimension' id='selection'>
	<option>1280:720 </option>
	<option>640:480</option>
</select></p>
<p style="visibility:%s;"> Ramp : <input type='number' min='0' max='50' value='%s' name='ramp'></p>
<p> Invert : <input type='number' min='0' max='1' value='%d' name='invert'></p>
%s
<p>
<button action='submit()'> Salvar </button>
<a href='/config/%d/%d'> Próxima Câmera </a>
</p>
</form>
</div>
<script>
	var dim = '%s';
	if(dim == '1280:720'){document.getElementById('selection').selectedIndex = 0}
	else{document.getElementById('selection').selectedIndex = 1}
</script>
</body>
</html>
